{% extends 'index.html' %}
{% block 'main_content' %}
<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HomePage</title>
  </head>
  <body>
    <div class='container'>
    <!-- {{user}} -->
    <h2>User Details</h2>
    <style>
          th,td{
      border: 1px black solid;
    }
    </style>
    <table  class="table table-hover">
      <tr>
        <th>Id</th>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
      </tr>
      {% for d in user %}
      <tr>
        <td>{{d.id}}</td>
        <td>{{d.email}}</td>
        <td>{{d.first_name}}</td>
        <td>{{d.last_name}}</td>
      </tr>
      {% endfor%}
    </table>


  </div>
  </body>
</html>
{% endblock %}
